.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(13, 13, 13, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.container .formContainer {
    width: 40rem;
    border-radius: 16px;
    background: var(--gray-400);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 5rem;
}

.container .closedModal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5rem;
    color: var(--danger);
}

.container .formContainer .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container .formContainer .content label {
    color: white;
    font-weight: var(--font-weight-bold);
}

.container .formContainer .content .phoneInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container .formContainer .content .phoneInput {
    height: 3rem;
    width: 30rem;
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    background: var(--gray-500);
    color: var(--gray-300);
    outline: 0;
    transition: all .2s;
    -moz-appearance: textfield;
    padding: 0.5rem;
}

.container .formContainer .content .phoneInput:hover {
    border: 1px solid var(--purple-dark);
}

.container .formContainer .content .phoneInput:focus{
    border: 1px solid var(--purple-dark);
    color: var(--gray-100);
}

.container .formContainer button[type="submit"] {
    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: var(--font-weight-bold);
    border: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all .2s;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.container .formContainer button[type="submit"]:not(:disabled):hover {
    background: var(--blue);
}

.container .formContainer button[type="submit"]:disabled {
    opacity: .7;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 2rem;
    }

    .container .formContainer {
        width: 100%;
        padding: 2rem 1.5rem;
    }
    
    .container .formContainer .content .phoneInput {
        width: 100%;
    }
}