.todo {
    display: grid;
    grid-template-columns: 1fr;
    width: 46rem;
    margin: 0 auto;
}

.tasksWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.tasksWrapper .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.tasksWrapper .info > p {
    font-size: var(--font-mediun);
    font-weight: var(--font-weight-bold);;
    line-height: normal;
}

.tasksWrapper .info > p:not(:last-child) {
    color: var(--blue);
}

.tasksWrapper .info > p + p {
    color: var(--purple);
}

.tasksWrapper .info span {
    padding: 0.125rem 0.5rem;
    border-radius: 16px;
    background: var(--gray-400);
    color: var(--gray-200);
    font-size: var(--font-small);
}

.tasksWrapper .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    padding: 4rem 1.5rem;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}

.tasksWrapper .empty > img {
    width: 3.5rem;
    height: 3.5rem;
}

.tasksWrapper .empty > p {
    color: var(--gray-300);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.tasksWrapper .empty > p span {
    color: var(--gray-300);
    font-weight: var(--font-weight-normal);
}

.tasksWrapper .full {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.tasksWrapper .full .deleteAll {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
}

.tasksWrapper .full .deleteAll button {
    display: flex;
    align-items: center;
    padding: 0.15rem 0.5rem;
    gap: 0.25rem;
    font-size: var(--font-mediun);
    font-weight: var(--font-weight-bold); 
    color: var(--gray-300);
    border: 1px solid transparent;
    background: transparent;
    border-radius: 0.5rem;
    transition: all .2s;
    outline: none;
    cursor: pointer;
}

.tasksWrapper .full .deleteAll button:hover { 
    color: var(--danger);
    border: 1px solid var(--danger);
}

@media screen and (max-width: 768px) {
    .todo {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }

    .tasksWrapper .full .deleteAll {
        justify-content: center;
    }
}